<h1><%= @blogger.name %></h1>
    <p><%= "Total likes: #{@blogger.total_likes}" %></p>
    <p><%= link_to @blogger.most_liked.title, post_path(@blogger.most_liked) %>
    <!-- <p><%= @blogger.destinations %></p> %> -->